* {
    user-select: none;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#game-board {
    display: grid;
    gap: 0.8rem;
    justify-content: center;
    width: fit-content;
    overflow-y: auto;
}

.card {
    width: 4vw;
    height: 4vw;
    background-color: #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2vw;
    cursor: pointer;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  pointer-events: none;
}

.card.flipped {
    background-color: #fff;
}

#debug-cards {
    display: block;
    max-height: 8vh;
    overflow-y: auto;
    overflow-x: hidden;
    white-space: pre;
    font-size: clamp(0.5rem, 0.55vw, 0.9rem);
}

#debug-table pre,
#debug-table td {
    white-space: nowrap;
}

.debug-current {
    color: #00ff00;
    font-weight: bold;
}

.debug-matched {
    color: #6e6e6e;
}

.debug-hidden {
    color: #000000;
}

#Stats {
    position: fixed;
    top: 20vh;
    left: 20vw;
}

#Stats span{
    display: inline-block;
    flex: none
}

#Voitto_Näyttö {
    position: fixed;
    inset: 0;
    text-shadow: 0vw 0vw 1vw rgb(0, 255, 0);
    font-size: 6vw;
    color: white;
    background-image: url(../Win.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    line-height: 1;
    z-index: 9999;
}

#Voitto_Näyttö span{
    display: inline-block;
    flex: none
}